$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import url('http://fonts.googleapis.com/css?family=Lato');

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    margin: 0 auto;
    background: rgb(251, 250, 221);
    font-family: 'Lato', sans-serif;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;

    /* Make the masthead heading the same height as the navigation */
    h3 {
        margin-top: 0;
        margin-bottom: 0;
        line-height: 40px;
        padding-bottom: 19px;
    }
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    .btn {
        font-size: 21px;
        padding: 14px 24px;
    }
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
    p + h4 {
        margin-top: 28px;
    }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 960px;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/* My stuff below*/

.leaf {
    position: absolute;
    opacity: .3;
    z-index: -1;
}

.head {
    height: 60px;
}

.logo {
    height: 160px;
    margin-top: -98px;
    display: inline-block;
    position: relative;
}

.navigation-top {
    position: relative;
    height: 40px;
    background: rgb(70, 73, 73);
}

.nav-options {
    line-height: 40px;
    text-align: center;
    color: white;
    span {
    margin-right: 30px;
    }
}

.nav-items {
    color: white;
    margin-right: 20px;
    &:hover {
        color: white;
    }
}

.featured {
    position: relative;
    margin-top: 20px;
}

.featured-image {
    position: relative;
    display: inline-block;
}

.featured-items {
    display: inline-block;
    position: relative;
    width: 310px;
    height: 700px;
}

.left-image {
    margin-left: -15px;
}

.middle-image {
    margin-left: 2px;
}

.right-image {
    margin-left: 20px;
}

.box {
    width: 275px;
    height: 50px;
    background: rgb(70, 73, 73);
    text-align: center;
    span {
        position: relative;
        line-height: 50px;
        color: white;
        text-align: center;
        font-size: 20px;
        width: 100%;
    }
}

.box-one {
    margin-left: -15px;
}

.box-two {
    margin-left: 2px;
}

.box-three {
    margin-left: 20px;
}

.logo-text {
    height: 20px;
    margin-left: 15px;
}

.section {
    height: 310px;
}

.under-text {
    width: 275px;
    position: relative;
    text-align: center;
    color: rgb(70, 73, 73);
    margin-top: 5px;
    span {
        font-size: 13px;
    }
}

.one-text {
    margin-left: -15px;
}

.three-text {
    margin-left: 20px;
}

.fancybar {
    height: 48px;
    text-align: center;
}

.about {
    background: rgba(70, 73, 73, .7);
    margin-top: 20px;
    padding-top: 40px;
    span {
        color: white;
        font-size: 30px;
        margin-left: 150px;
    }
}

.susie {
    height: 310px;
    position: absolute;
    margin-top: -40px;
}

.about-text {
    margin-top: 30px;
    margin-left: 150px;
    color: white;
    font-size: 15px;
}

.contact {
    padding-top: 50px;
    span {
        color: rgb(70, 73, 73);
        font-size: 30px;
    }
    p {
        font-size: 16px;
        margin-top: 25px;
    }
}

.befores {
    position: relative;
    margin-top: -190px;
}

.before {
    position: absolute;
    right: 0;
    height: 300px;
     &.active {
        opacity: 0;
    }
    -webkit-transition: all 2s ease;
    cursor: pointer;
}

.after {
   position: absolute;
   right: 0;
   height: 300px;
    &.active {
        opacity: 1;
    }
    -webkit-transition: all 2s ease;
    cursor: pointer;
}



.leaf-flip {
    margin-top: 450px;
}
